<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/adminpannellayout.html}" xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/admin-pannel-layout :: htmlhead" th:with="title='Dashboard'"></head>
<body>
	<div class="wrapper">
		<div th:include="layouts/admin-pannel-layout :: sidebar"></div>
		<div layout:fragment="main-pannel">
			<div class="main-panel">
				<!-- Navbar -->
				<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
					<div class="container-fluid">
						<div class="navbar-wrapper">
							<a class="navbar-brand" href="#pablo">Dashboard</a>
						</div>
						<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
							<span class="sr-only">Toggle navigation</span> <span class="navbar-toggler-icon icon-bar"></span> <span class="navbar-toggler-icon icon-bar"></span> <span
								class="navbar-toggler-icon icon-bar"></span>
						</button>
						
					</div>
				</nav>
				<!-- End Navbar -->
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div id="map" style="height: 500px"></div>
							</div>
						</div>
					</div>
				</div>
				<div th:include="layouts/admin-pannel-layout :: footer"></div>
			</div>
		</div>
	</div>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgjgFbydB4u_EwrMiU05xck84lU96dXng"></script>
	<script th:inline="javascript">
	
	$(document).ready(function() {
		var stores = 	/*[[${stores}]]*/ 'stores';
		
	      myScripts.initGoogleMaps(stores);
	});
	
    </script>
</body>
</html>