<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/adminpannellayout.html}" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="layouts/admin-pannel-layout :: htmlhead" th:with="title=${store.name}"></head>
<body>
	<div class="wrapper">
		<div th:include="layouts/admin-pannel-layout :: sidebar"></div>
		<div class="main-panel ps-container ps-theme-default ps-active-y" layout:fragment="main-pannel">
			<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<a class="navbar-brand" href="#pablo">My Store</a>
					</div>
				</div>
			</nav>
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title" th:text="${store.name}"></h4>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<div class="fileinput fileinput-new text-center" data-provides="fileinput">
													<div class="fileinput-new thumbnail img-raised">
														<img th:src="'/'+*{store.image}" alt="...">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="tim-typo">
												<p>
													<span class="tim-note" th:text="${store.description}">Description</span>
												</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="tim-typo">
												<label> Open Hour </label>
												<p>
													<span class="tim-note" th:text="${store.openHour}"></span>
												</p>
											</div>
										</div>
										<div class="col-md-3">
											<div class="tim-typo">
												<label> Close Hour </label>
												<p>
													<span class="tim-note" th:text="${store.closeHour}"></span>
												</p>
											</div>
										</div>
										<div class="col-md-3">
											<div class="tim-typo">
												<label>Category</label>
												<p>
													<span class="tim-note" th:text="${store.category.name}">Category</span>
												</p>
											</div>
										</div>
									</div>
									<hr />
									<div class="row">
										<div class="col-md-4">
											<label> Likes </label>
											<p>
												<span class="tim-typo" th:text="${store.likeCount}"> </span>
											</p>
										</div>
										<div class="col-md-4">
											<label> Average Rating</label>
											<p>
												<span class="tim-typo" th:text="${store.averageRating}"> </span>
											</p>
										</div>
									</div>
									<hr />
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card card-plain">
								<div class="card-header card-header-primary">
									<h4 class="card-title mt-0">Products List</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover">
											<thead class="">
												<th>ID</th>
												<th>Name</th>
												<th>Description</th>
												<th>Actions</th>
											</thead>
											<tbody>
												<tr th:each="product : ${products}">
													<td th:text="${product.id}"></td>
													<td th:text="${product.name}"></td>
													<td th:text="${product.description}"></td>
													<td><a th:href="@{'/admin/dashboard/product/edit/' + ${product.id}}"><i class="material-icons">edit </i> </a> 
													<a th:href="@{'/admin/dashboard/product/' + ${product.id}}"><i class="material-icons">touch_app</i> </a>
													
													<a
														th:href="@{'/admin/dashboard/product/delete/' + ${product.id}}"><i class="material-icons">delete </i></a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:include="layouts/admin-pannel-layout :: footer"></div>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgjgFbydB4u_EwrMiU05xck84lU96dXng"></script>
		</div>
</body>
</html>