<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/adminpannellayout.html}" xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/admin-pannel-layout :: htmlhead" th:with="title=${product.name}"></head>
<body>
	<div class="wrapper">
		<div th:include="layouts/admin-pannel-layout :: sidebar"></div>
		<div class="main-panel ps-container ps-theme-default ps-active-y" layout:fragment="main-pannel">
			<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<a class="navbar-brand" href="#pablo" th:value="${product.name}"></a>
					</div>
				</div>
			</nav>
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Edit</h4>
								</div>
								<div class="card-body">
									<form method="post"  enctype="multipart/form-data" th:action="@{/admin/dashboard/product/edit}">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Name</label> <input type="text" th:field="*{product.name}" class="form-control" /> <label
														th:if="${#fields.hasErrors('product.name')}" th:errors="*{product.name}" class="validation-message"></label>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<div class="fileinput fileinput-new text-center" data-provides="fileinput">
														<div class="fileinput-new thumbnail img-raised">
															<img th:src="'/'+*{product.image}" alt="...">
														</div>
														<div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
														<div>
															<span class="btn btn-raised btn-round btn-default btn-file"> <span class="fileinput-new">Select image</span> <span
																class="fileinput-exists">Change</span> <input type="file" name="file" />
															</span> <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"> <i class="fa fa-times"></i> Remove
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label>Description</label>
													<div class="form-group">
														<label class="bmd-label-floating"> Kindly add a short description for the product</label>
														<textarea class="form-control" rows="5" th:field="*{product.description}"></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Price in $</label> <input type="number" th:field="*{product.price}" class="form-control" /> <label
														th:if="${#fields.hasErrors('product.price')}" th:errors="*{product.price}" class="validation-message"></label>
												</div>
											</div>
										</div>
										<input th:value="${product.id}" th:field="*{product.id}" type="hidden" class="hidden">
										<input th:value="${store.id}" name="store_id" type="hidden" class="hidden">
										<button type="submit" class="btn btn-primary pull-right">Add Product</button>
										<div class="clearfix"></div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:include="layouts/admin-pannel-layout :: footer"></div>
		</div>
	</div>
</body>
</html>